/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px; 
}

/* grid system -- mobile first! */
/* flex contatiner */

.row {
	display: flex;
	flex-flow: row wrap;
}

/* attribute selector to give some margin between columns and apply styles to flex items */

[class*="col-"] {
	margin-left: 4%;
	flex: 0 0 92%;
}

/* Add background colors to see how much space each column is taking */

.col-1 {
	background-color: #8ea6ad;
}

.col-2 {
	background-color: #aba1eb;
}
.col-3 {
	background-color: #ae249a;
}
.col-4 {
	background-color: #fc7b26;
}

/* Tablet Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
	
  .col-1,
  .col-2 {
		flex: 0 0 44%;
	}
  .col-3,
  .col-4 {
		flex: 0 0 92%;
	}

  .col-1,
  .col-3 {
		flex: 0 0 92%;
	}

  .col-1 {
		flex: 0 0 44%;
	}
  .col-2 {
		flex: 0 0 92%;
    }



}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  
  
 	.col-1 {
		flex: 0 0 20%;
	}
	.col-2 {
		flex: 0 0 44%;
	}
	.col-3 {
		flex: 0 0 68%;
	}
	.col-4 {
		flex: 0 0 92%;
	}
}


.col-6 .mini-card {
  background-color: #e8f4ff;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  flex: 1 1 92%;   /* MOBILE: 1 per row */
}

/* mini thumbnails */
.col-6 .mini-card img {
  width: 100%;
  border-radius: 3px;
}

/* The special card grows more than the rest */
.col-6 .special {
  flex-grow: 2;             /* grows bigger */
  align-self: flex-start;   /* stands out vertically */
  background-color: #d6ecff;
}

/* TABLET: 3 per row */
@media only screen and (min-width: 480px) {
  .col-6 .mini-card {
    flex: 0 0 30%;
  }
}

/* DESKTOP: 5 per row */
@media only screen and (min-width: 768px) {
  .col-6 .mini-card {
    flex: 0 0 16%;
  }

  .col-6 .special {
    flex: 0 0 20%;   /* slightly wider */
  }
}



